.About{
     height: 50vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 50px;
}

.WaterDiv{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 10vh;
     text-align: center;
}

.WaterDiv p{
     max-width: 79rem;
     font-size: 1.4rem;
     font-weight: 400;
}

.WaterDiv p .p1{
     color: red;
     font-weight: 600;
     font-size: 1.9rem;
}

.WaterDiv p .p2{
     color: red;
}


@media (max-width:1280px){
     .WaterDiv p{
          max-width: 70rem;
     }
}

@media (max-width:1024px){
     .WaterDiv p{
          max-width: 50rem;
          font-size: 1.3rem;
          font-weight: 400;
     }
     
     .WaterDiv p .p1{
          color: red;
          font-weight: 600;
          font-size: 1.6rem;
     }
}


@media (max-width:768px){     
     .WaterDiv p{
          max-width: 40rem;
          font-size: 1.2rem;
     }
     
     .WaterDiv p .p1{
          font-size: 1.4rem;
     }
}


@media (max-width:640px){
     .About{
          height: 50vh;
          width: 100%;
     }
     .WaterDiv p{
          max-width: 30rem;
          font-size: 1.2rem;
          padding-top: 0px;
     }
     
     .WaterDiv p .p1{
          font-size: 1.3rem;
     }
}